<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-3">{{appname}}</h1>
        <p class="text-center">¡Juega y gana becas para apyar tu educación!</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p class="text-center">El siguiente sorteo se realizará el domingo 27 de Agosto en el <b>Honducamp.tech</b> 2017</p>
            <a class="btn btn-primary" [routerLink]="['/buyticket']" routerLinkActive="active" >Consigue tu ticket</a>
        </div>
    </div>
</div>